{% extends "base.html" %}
{% block content %}
<body class="bg-dark">
    <div class="container text-center">
        <img class="img-thumbnail" alt="" src="{{ url_for('static', filename='images/makers_logo.jpg') }}" />
    </div>
    <div class="jumbotron bg-dark">
        <h1 class="display-4 text-light text-center"><u>OBJECTIVE</u></h1>
                <p class="lead text-light text-center">
                    Makers Club aims to create an environment where students <br>
                    can develop their making and tinkering skills in a safe and<br>
                    purposely way so we can explore different tools, building techniques, <br>
                    materials and mediums. We will work with Robotics kits, Electronics, <br>
                    CNC machines, 3D printing and the laser cutter. Through experience <br>
                    with various techniques, we will improve the quality and <br>
                    profile of making on campus. <br>
                    <b>＿＿＿＿</b>
                </p>
    </div>
</body>
{% endblock %}

#text-light text-center align-middle